<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Browse Equipment</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<a href="{{ url_for('client.dashboard') }}">Back to Dashboard</a>

<h1>Equipment List</h1>

<form action="{{ url_for('equipment.browse_equipment') }}" method="GET">
    <div class="form-group">
        <label for="sort_by">Sort by:</label>
        <select id="sort_by" name="sort_by">
            <option value="" selected>None</option>
            <option value="id">ID</option>
            <option value="type_name">Type Name</option>
            <option value="description">Description</option>
            <option value="model">Model</option>
            <option value="is_available">Availability</option>
            <option value="price_per_hour">Price (Hour)</option>
            <option value="price_per_day">Price (Day)</option>
            <option value="weekday_discount">Weekday discount</option>
        </select>
        <label for="sort_order">Order:</label>
        <select id="sort_order" name="sort_order">
            <option value="asc" selected>Ascending</option>
            <option value="desc">Descending</option>
        </select>
    </div>

    <div class="form-group">
        <label for="filter_by">Filter by:</label>
        <select id="filter_by" name="filter_by">
            <option value="" selected>None</option>
            <option value="type_name">Type Name</option>
            <option value="description">Description</option>
            <option value="model">Model</option>
            <option value="is_available">Is Available</option>
            <option value="price_per_hour">Price (Hour)</option>
            <option value="price_per_day">Price (Day)</option>
            <option value="weekday_discount">Weekday discount</option>
        </select>
        <label for="filter_value">Value:</label>
        <input type="text" id="filter_value" name="filter_value"><br><br>
    </div>
    <button type="submit">Apply</button>
    <a href="{{ url_for('equipment.browse_equipment') }}">Clear</a>
</form>

<form action="{{ url_for('client.save_view') }}" method="POST">
    <input type="hidden" name="view_url" value="{{ request.full_path }}">
    <label for="view_name">Report Name:</label>
    <input type="text" id="view_name" name="view_name" required>
    <button type="submit">Save this View</button>
</form>

<script>
    document.getElementById('filter_by').addEventListener('change', function () {
        var filterValueInput = document.getElementById('filter_value');
        if (this.value === 'type_id' || this.value === 'price_per_hour' || this.value === 'price_per_day' || this.value === 'weekday_discount') {
            filterValueInput.type = 'number';
        } else if (this.value === 'is_available') {
            filterValueInput.type = 'checkbox';
        } else {
            filterValueInput.type = 'text';
        }
    });
</script>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Type</th>
        <th>Description</th>
        <th>Model</th>
        <th>Is Available</th>
        <th>Price/Hour</th>
        <th>Price/Day</th>
        <th>Weekday Discount (%)</th>
    </tr>
    </thead>
    <tbody>
    {% for equipment, equipment_type, tariff in equipment_list %}
        <tr>
            <td>{{ equipment.id }}</td>
            <td>{{ equipment_type.name }}</td>
            <td>{{ equipment_type.description }}</td>
            <td>{{ equipment.model }}</td>
            <td>{{ 'Yes' if equipment.is_available else 'No' }}</td>
            <td>{{ tariff.price_per_hour }}</td>
            <td>{{ tariff.price_per_day }}</td>
            <td>{{ tariff.weekday_discount }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

</body>
</html>