<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lift usage edit</title>
</head>
<body>
    <h1>Edit lift usage</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

<form action="{{ url_for('lift_usage.update', id=lift_usage.id) }}" method="POST">
    <label for="client_id">Client's id:</label>
    <input type="number" id="client_id" name="client_id" value="{{ lift_usage.client_id }}" required><br><br>

    <label for="lift_id">Lift's id:</label>
    <input type="number" id="lift_id" name="lift_id" value="{{ lift_usage.lift_id }}" required><br><br>

    <label for="usage_date">Usage date:</label>
    <input type="date" id="usage_date" name="usage_date" value="{{ lift_usage.usage_date }}" required><br><br>

    <label for="usage_time_start">Usage time start:</label>
    <input type="time" id="usage_time_start" name="usage_time_start" value="{{ lift_usage.usage_time_start }}" required><br><br>

    <label for="usage_time_end">Usage time end:</label>
    <input type="time" id="usage_time_end" name="usage_time_end" value="{{ lift_usage.usage_time_end }}" required><br><br>

    <button type="submit">Update</button>

</form>

<a href="{{ url_for('lift_usage.list_lift_usages') }}">Back to List</a>

</body>
</html>