<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit rental equipment</title>
</head>
<body>

<h1>Edit rental equipment</h1>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

<form action="{{ url_for('rental_equipment.update', old_rental_id=rental_equipment.rental_id,
                                                    old_equipment_id=rental_equipment.equipment_id) }}" method="POST">
    <label for="rental_id">Rental ID:</label>
    <input type="number" id="rental_id" name="rental_id" value="{{ rental_equipment.rental_id }}" required><br><br>

    <label for="equipment_id">Equipment ID:</label>
    <input type="number" id="equipment_id" name="equipment_id" value="{{ rental_equipment.equipment_id }}" required><br><br>

    <button type="submit">Update</button>
</form>

<a href="{{ url_for('rental_equipment.list_rental_equipments') }}">Back to List</a>

</body>
</html>